<p>
  <strong>
  This special Software Carpentry workshop is sponsored by the <a href="https://lsa.umich.edu/wise">U-M Women in Science and Engineering</a> and is taught entirely by women.
  </strong>
</p>
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done in less time and with less pain by teaching them basic research computing skills in a supportive & inclusive environment. This hands-on workshop will cover basic concepts and tools, including R for plotting, the Unix shell, version control with Git & GitHub, R for data analysis, and writing reports with R Markdown.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>